.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  /* This z-index style is for allowing certain items to be above or below others. In this case, it allows the header to remain static while the rest of the website can scroll. */
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 10px;
  font-weight: 300;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}
